

            <li class="caption-menu">SuperAdmin</li>
            <li>

                <a href="@Url.Action("Index", "Home", new {Area = "ModulSuperAdmin"})"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Početak</span></a>
            </li>

            <li>
                <a href="@Url.Action("Index", "Zaposlenik", new { Area = "ModulSuperAdmin" })"><i class="menu-icon fa fa-users"></i><span class="mm-text">Zaposlenici</span></a>
            </li>

            <li>
                <a href="@Url.Action("Index", "OrganizacionaJedinica", new { Area = "ModulSuperAdmin" })"><i class="menu-icon fa fa-building-o"></i><span class="mm-text">Organizacione jedinice</span></a>
            </li>


            <li>
                <a href="@Url.Action("Index", "Fakultet", new { Area = "ModulSuperAdmin" })"><i class="menu-icon fa fa-home"></i><span class="mm-text">Fakulteti i odsjeci</span></a>
            </li>


            <li>
                <a href="@Url.Action("Index", "AkademskaGodina", new { Area = "ModulSuperAdmin" })"><i class="menu-icon fa fa-calendar"></i><span class="mm-text">Akademske godine</span></a>
            </li>
